In [73]:
import pandas as pd
import numpy as np
import csv

df =pd.read_csv('test.gtf', header=None, index_col=None, delimiter="\t")

df.head()

,0,1,2,3,4,5,6,7,8
0,1,UcscGene20130723,exon,11874,12227,.,+,.,"gene_id ""DDX11L1""; transcript_id ""uc001aaa.3"";..."
1,1,UcscGene20130723,exon,12613,12721,.,+,.,"gene_id ""DDX11L1""; transcript_id ""uc001aaa.3"";..."
2,1,UcscGene20130723,exon,13221,14409,.,+,.,"gene_id ""DDX11L1""; transcript_id ""uc001aaa.3"";..."
3,1,UcscGene20130723,exon,11874,12227,.,+,.,"gene_id ""DDX11L1""; transcript_id ""uc010nxr.1"";..."
4,1,UcscGene20130723,exon,12646,12697,.,+,.,"gene_id ""DDX11L1""; transcript_id ""uc010nxr.1"";..."

In [59]:
df[8].str.split(';')[4]

['gene_id "DDX11L1"',
 ' transcript_id "uc010nxr.1"',
 ' gene_name "DDX11L1"',
 ' transcript_name "uc010nxr.1"',
 ' ']

In [39]:
df[8][1] == df[8][2]

True

In [64]:
#group by column 8, get the min value in column 3
newdf = df.loc[df.groupby(8)[3].idxmin()]

In [66]:
#group by column 8, get the max value in column 4, assign this value to the newdf
newdf[4] = df.loc[df.groupby(8)[4].idxmax()][4].values

In [74]:
newdf.to_csv("exon.gtf", header=None, index = None, sep='\t', quoting=csv.QUOTE_NONE)

In [75]:
def exon2transcript(inputfile):

    #group by column 8, get the min value in column 3
    newdf = df.loc[df.groupby(8)[3].idxmin()]
    
    #group by column 8, get the max value in column 4, assign this value to the newdf
    newdf[4] = df.loc[df.groupby(8)[4].idxmax()][4].values
    
    return newdf

SyntaxError: invalid syntax (<ipython-input-75-eb258ca834cb>, line 1)

In [ ]:
newdf.to_csv("exon.gtf", header=None, index = None, sep='\t', quoting=csv.QUOTE_NONE)