In [22]:
#function: split the word with : and remove the last section, join the words by : again


import pandas as pd
import numpy as np
import csv


df =pd.read_csv('readname_GG.txt', header=None, index_col=None, delimiter="\t")

In [23]:
df.head()

                                                   0
0  @M04362:306:000000000-BLJV5:1:1101:14869:1743:...
1  @M04362:306:000000000-BLJV5:1:1101:14562:1777:...
2  @M04362:306:000000000-BLJV5:1:1101:14131:1797:...
3  @M04362:306:000000000-BLJV5:1:1101:14735:1814:...
4  @M04362:306:000000000-BLJV5:1:1101:14780:1816:...

In [31]:
df.loc[0,0].split(":")[0:7]

['@M04362', '306', '000000000-BLJV5', '1', '1101', '14869', '1743']

In [33]:
':'.join(df.loc[0,0].split(':')[:-1])

'@M04362:306:000000000-BLJV5:1:1101:14869:1743'

In [34]:
f = lambda x: ':'.join(x[0].split(':')[:-1])

In [36]:
df[0]=df.apply(f,axis=1)

In [37]:
df.head()

                                               0
0  @M04362:306:000000000-BLJV5:1:1101:14869:1743
1  @M04362:306:000000000-BLJV5:1:1101:14562:1777
2  @M04362:306:000000000-BLJV5:1:1101:14131:1797
3  @M04362:306:000000000-BLJV5:1:1101:14735:1814
4  @M04362:306:000000000-BLJV5:1:1101:14780:1816

In [38]:
df.to_csv("readname_GG_new.txt", header=None, index = None, sep='\t', quoting=csv.QUOTE_NONE)