In [1]:
import pandas as pd

df =pd.read_csv('data.txt', delimiter="\t")
des = pd.read_csv('design.txt', delimiter="\t")

df.head()
#df.tail()
#des.head()

,probe set id,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,...,sample14,sample15,sample16,sample17,sample18,sample19,sample20,sample21,sample22,sample23
0,Probe1,10.763,10.637,11.018,10.932,10.898,10.795,10.834,10.870,10.863,...,11.100,10.840,11.205,10.997,10.939,10.917,10.937,10.978,10.844,10.748
1,Probe2,10.613,10.507,10.660,10.600,10.593,10.492,10.555,10.567,10.598,...,10.917,10.875,10.817,10.840,10.801,10.607,10.786,10.806,10.802,10.613
2,Probe3,10.896,10.762,11.034,10.854,10.917,10.809,10.885,10.840,10.854,...,11.235,11.210,11.431,11.156,11.253,11.058,11.219,11.074,11.098,11.051
3,Probe4,11.934,11.509,12.037,11.906,11.975,11.728,11.992,11.909,11.929,...,12.749,12.652,12.794,12.659,12.651,12.700,12.841,12.548,12.667,12.664
4,Probe5,12.362,12.203,12.471,12.400,12.312,12.275,12.293,12.476,12.314,...,12.660,12.562,12.819,12.655,12.611,12.598,12.649,12.631,12.600,12.490

In [14]:
# split data table into data X and class labels y

X = df.iloc[:,1:24].T.values
y = des.iloc[:,1].values

In [4]:
X.shape

(23, 31099)

In [7]:
y

array(['C', 'C', 'C', 'C', 'C', 'C', 'D', 'D', 'D', 'D', 'D', 'D', 'C',
       'C', 'C', 'C', 'C', 'C', 'D', 'D', 'D', 'D', 'D'], dtype=object)

In [8]:
X

array([[ 10.763,  10.613,  10.896, ...,   4.512,   5.213,   4.781],
       [ 10.637,  10.507,  10.762, ...,   4.56 ,   5.284,   4.751],
       [ 11.018,  10.66 ,  11.034, ...,   4.455,   5.195,   4.769],
       ...,
       [ 10.978,  10.806,  11.074, ...,   4.507,   5.284,   4.741],
       [ 10.844,  10.802,  11.098, ...,   4.487,   5.177,   4.732],
       [ 10.748,  10.613,  11.051, ...,   4.482,   5.242,   4.79 ]])

In [9]:
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

In [10]:
from sklearn.decomposition import PCA as sklearnPCA
sklearn_pca = sklearnPCA(n_components=3)
Y_sklearn = sklearn_pca.fit_transform(X)

In [15]:
traces = []

for name in ('A', 'B'):

    trace = Scatter(
        x=Y_sklearn[y==name,0],
        y=Y_sklearn[y==name,1],
        mode='markers',
        name=name,
        marker=Marker(
            size=12,
            line=Line(
                color='rgba(217, 217, 217, 0.14)',
                width=0.5),
            opacity=0.8))
    traces.append(trace)


data = Data(traces)
layout = Layout(xaxis=XAxis(title='PC1', showline=False),
                yaxis=YAxis(title='PC2', showline=False))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [13]:
traces

[{'marker': {'line': {'color': 'rgba(217, 217, 217, 0.14)', 'width': 0.5},
   'opacity': 0.8,
   'size': 9},
  'mode': 'markers',
  'name': 'C',
  'type': 'scatter3d',
  'x': array([-29.41545599, -39.82444695, -18.24447475, -26.51596877,
         -25.89002788, -30.58495621,  16.21175583,  34.61539396,
          25.8368721 ,  53.0007735 ,  20.03308295,  29.62632132]),
  'y': array([-11.78974931,  -8.46266514, -21.62397415, -16.43632767,
         -12.20549945, -10.78504886, -20.35009631, -17.97755317,
         -19.80941781, -14.82453504, -11.32578608, -13.08635215]),
  'z': array([ -5.47424127, -24.74819362,  11.85928816,  -2.37096873,
          -2.69672741,  -7.90397644,  12.20423688,   0.95560683,
           0.71080851,  -3.71415478,  -4.04994434,  -7.30399728])},
 {'marker': {'line': {'color': 'rgba(217, 217, 217, 0.14)', 'width': 0.5},
   'opacity': 0.8,
   'size': 9},
  'mode': 'markers',
  'name': 'D',
  'type': 'scatter3d',
  'x': array([-16.99805804, -19.48643746, -22.86505096, -23.08164334,
         -10.39911567, -25.01600036,  23.59375508,  22.85094226,
          18.97815228,  25.0407415 ,  18.53384561]),
  'y': array([ 11.51319207,  11.28277651,  11.12070296,  16.94914618,
           9.06008116,  14.8382273 ,  18.2672954 ,  16.08405878,
          25.315526  ,  20.24669498,  23.9993038 ]),
  'z': array([ 10.87322824,   7.99236143,   5.77461432,   0.21873361,
          23.42350026,   2.2323027 ,  -4.98849237,  26.39075822,
         -19.1994892 ,  -4.51662561, -15.66862811])}]

In [18]:
Y_sklearn

array([[-29.41545599, -11.78974931,  -5.47424127],
       [-39.82444695,  -8.46266514, -24.74819362],
       [-18.24447475, -21.62397415,  11.85928816],
       [-26.51596877, -16.43632767,  -2.37096873],
       [-25.89002788, -12.20549945,  -2.69672741],
       [-30.58495621, -10.78504886,  -7.90397644],
       [-16.99805804,  11.51319207,  10.87322824],
       [-19.48643746,  11.28277651,   7.99236143],
       [-22.86505096,  11.12070296,   5.77461432],
       [-23.08164334,  16.94914618,   0.21873361],
       [-10.39911567,   9.06008116,  23.42350026],
       [-25.01600036,  14.8382273 ,   2.2323027 ],
       [ 16.21175583, -20.35009631,  12.20423688],
       [ 34.61539396, -17.97755317,   0.95560683],
       [ 25.8368721 , -19.80941781,   0.71080851],
       [ 53.0007735 , -14.82453504,  -3.71415478],
       [ 20.03308295, -11.32578608,  -4.04994434],
       [ 29.62632132, -13.08635215,  -7.30399728],
       [ 23.59375508,  18.2672954 ,  -4.98849237],
       [ 22.85094226,  16.08405878,  26.39075822],
       [ 18.97815228,  25.315526  , -19.1994892 ],
       [ 25.0407415 ,  20.24669498,  -4.51662561],
       [ 18.53384561,  23.9993038 , -15.66862811]])

In [16]:
traces = []

for name in ('A', 'B'):

    trace = Scatter3d(
        x=Y_sklearn[y==name,0],
        y=Y_sklearn[y==name,1],
        z=Y_sklearn[y==name,2],
        mode='markers',
        name=name,
        marker=Marker(
            size=9,
            line=Line(
                color='rgba(217, 217, 217, 0.14)',
                width=0.5),
            opacity=0.8))
    traces.append(trace)


data = Data(traces)
layout = Layout(
    margin=dict(l=0,r=0,b=0,t=0),
    scene=Scene(xaxis=XAxis(title='PC1', showline=False),
    yaxis=YAxis(title='PC2', showline=False),
    zaxis=ZAxis(title='PC3', showline=False)))
fig = Figure(data=data, layout=layout)
py.iplot(fig)