In [27]:
import pandas as pd

df =pd.read_csv('data.txt', delimiter="\t")
des = pd.read_csv('design.txt', delimiter="\t")

df.head()
#df.tail()
#des.head()

,Probe Set ID,LL0322071101,LL0322071102,LL0322071103,LL0322071104,LL0322071105,LL0322071106,LL0322072101,LL0322072102,LL0322072103,...,LL0322075102,LL0322075103,LL0322075104,LL0322075105,LL0322075106,LL0322076101,LL0322076102,LL0322076103,LL0322076105,LL0322076106
0,1367709_at,9.893,9.565,9.441,10.307,9.645,9.534,10.772,10.964,10.475,...,10.518,9.617,10.481,10.467,9.837,10.962,11.155,11.234,10.924,10.929
1,1367811_at,7.215,7.118,7.186,7.260,7.275,7.096,7.863,7.868,7.720,...,8.357,7.590,9.125,7.468,8.139,9.183,9.018,10.457,10.296,8.743
2,1367939_at,11.326,11.022,11.895,11.671,11.631,11.492,10.614,10.327,10.576,...,11.677,11.704,11.203,11.657,11.553,10.507,11.151,10.397,10.431,10.240
3,1368121_at,10.498,9.859,10.591,10.434,10.720,10.153,12.797,12.269,12.545,...,12.841,12.008,13.558,12.409,12.597,12.905,12.576,13.697,13.327,12.843
4,1368160_at,9.895,10.774,11.651,11.180,12.102,12.569,12.351,11.921,12.062,...,12.134,11.231,12.021,11.077,11.806,13.516,12.762,12.210,11.861,13.439

In [36]:
# split data table into data X and class labels y

X = df.iloc[:,1:24].T.values
y = des.iloc[:,5].values

In [37]:
X.shape

(23, 120)

In [38]:
X

array([[  9.893,   7.215,  11.326, ...,   7.488,   9.065,   6.863],
       [  9.565,   7.118,  11.022, ...,   7.481,   9.097,   7.395],
       [  9.441,   7.186,  11.895, ...,   7.475,   9.522,   7.071],
       ...,
       [ 11.234,  10.457,  10.397, ...,   7.982,   6.935,   6.474],
       [ 10.924,  10.296,  10.431, ...,   8.266,   7.488,   6.095],
       [ 10.929,   8.743,  10.24 , ...,   8.33 ,   7.499,   6.429]])

In [19]:
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

In [39]:
from sklearn.decomposition import PCA as sklearnPCA
sklearn_pca = sklearnPCA(n_components=3)
Y_sklearn = sklearn_pca.fit_transform(X)

In [46]:
traces = []

for name in ('Wistar', 'TR'):

    trace = Scatter(
        x=Y_sklearn[y==name,0],
        y=Y_sklearn[y==name,1],
        mode='markers',
        name=name,
        marker=Marker(
            size=12,
            line=Line(
                color='rgba(217, 217, 217, 0.14)',
                width=0.5),
            opacity=0.8))
    traces.append(trace)


data = Data(traces)
layout = Layout(xaxis=XAxis(title='PC1', showline=False),
                yaxis=YAxis(title='PC2', showline=False))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [41]:
traces

[{'marker': {'line': {'color': 'rgba(217, 217, 217, 0.14)', 'width': 0.5},
   'opacity': 0.8,
   'size': 12},
  'mode': 'markers',
  'name': 'Wistar',
  'type': 'scatter',
  'x': array([  7.46283077,   8.10321027,  10.74681857,  11.24754657,
           7.09727495,   8.71259798,   9.70769403,  10.27605922,
          10.961535  ,   9.78269245,  10.53246403,   8.93901046]),
  'y': array([-6.43602473, -4.69693654, -6.30313193, -5.53562369, -6.10400131,
         -5.96199554,  1.54895872,  7.44780917,  5.45007675,  9.80106335,
          4.32869086,  4.42192104])},
 {'marker': {'line': {'color': 'rgba(217, 217, 217, 0.14)', 'width': 0.5},
   'opacity': 0.8,
   'size': 12},
  'mode': 'markers',
  'name': 'TR',
  'type': 'scatter',
  'x': array([-10.4643127 , -10.39867147,  -9.70152758,  -9.84566327,
         -10.94865647, -10.14863354, -10.76078628, -10.92249085,
          -9.70663084,  -9.73502468, -10.93733664]),
  'y': array([-2.66025676, -1.99478147, -2.60152179, -2.79779677, -3.04612308,
         -2.85598886,  3.61410075,  1.20505264,  5.02663466,  4.430821  ,
          3.71905355])}]

In [42]:
Y_sklearn

array([[  7.46283077,  -6.43602473,   4.43401298],
       [  8.10321027,  -4.69693654,   3.3402361 ],
       [ 10.74681857,  -6.30313193,  -0.43966133],
       [ 11.24754657,  -5.53562369,  -0.41993764],
       [  7.09727495,  -6.10400131,   3.00060042],
       [  8.71259798,  -5.96199554,  -0.91883201],
       [-10.4643127 ,  -2.66025676,  -2.65138344],
       [-10.39867147,  -1.99478147,  -2.19636731],
       [ -9.70152758,  -2.60152179,  -2.40326986],
       [ -9.84566327,  -2.79779677,  -2.3509166 ],
       [-10.94865647,  -3.04612308,  -3.69773561],
       [-10.14863354,  -2.85598886,  -3.02139537],
       [  9.70769403,   1.54895872,   0.90222736],
       [ 10.27605922,   7.44780917,  -3.06368045],
       [ 10.961535  ,   5.45007675,  -2.36988517],
       [  9.78269245,   9.80106335,  -1.37312575],
       [ 10.53246403,   4.32869086,  -2.41778412],
       [  8.93901046,   4.42192104,   0.80956529],
       [-10.76078628,   3.61410075,   2.85075024],
       [-10.92249085,   1.20505264,   0.37212421],
       [ -9.70663084,   5.02663466,   4.59393011],
       [ -9.73502468,   4.430821  ,   3.56621488],
       [-10.93733664,   3.71905355,   3.45431308]])

In [55]:
traces = []

for name in ('Wistar', 'TR'):

    trace = Scatter3d(
        x=Y_sklearn[y==name,0],
        y=Y_sklearn[y==name,1],
        z=Y_sklearn[y==name,2],
        mode='markers',
        name=name,
        marker=Marker(
            size=9,
            line=Line(
                color='rgba(217, 217, 217, 0.14)',
                width=0.5),
            opacity=0.8))
    traces.append(trace)


data = Data(traces)
layout = Layout(
    margin=dict(l=0,r=0,b=0,t=0),
    scene=Scene(xaxis=XAxis(title='PC1', showline=False),
    yaxis=YAxis(title='PC2', showline=False),
    zaxis=ZAxis(title='PC3', showline=False)))
fig = Figure(data=data, layout=layout)
py.iplot(fig)